<html ng-app="phonecatApp">
<head>
  <script src="bower_components/angular/angular.js"></script>
  <script src="app.js"></script>
</head>
<body ng-controller="PhoneListController">
<div>
  <input type=text placeholder="search for model" ng-model="message"/>
  <br>
  {{message}}
  </div>
  <ul>
    <li ng-repeat="phone in phones" | filter:message>
      <span>{{phone.name}}</span>
      <p>{{phone.snippet}}</p>
      <p>{{phone.likes }} <input type="button" value="like" ng-click="incrementlikes(phone)"/></p>
    </li>
  </ul>
</body>
</html>